[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=ktp_integration_module
X-KDE-DBus-ModuleName=ktp_integration_module
X-KDE-Kded-autoload=true
X-KDE-Kded-phase=2
X-KDE-Kded-load-on-demand=false
Name=Telepathy Integration Module
Name[da]=Modul til Telepathy-integration
Name[es]=Módulo de integración con Telepathy
Name[hu]=Telepathy integrációs modul
Name[it]=Modulo di integrazione con Telepathy
Name[nl]=Integratiemodule van Telepathy
Name[pl]=Moduł integracji Telepathy
Name[pt]=Módulo de Integração do Telepathy
Name[pt_BR]=Módulo de integração do Telepathy
Name[sv]=Integreringsmodul för Telepathy
Name[uk]=Модуль інтеграції з Telepathy
Name[x-test]=xxTelepathy Integration Modulexx
Name[zh_TW]=Telepathy 整合模組
Comment=Module providing deeper integration of Instant Messaging with KDE.
Comment[da]=Modul som giver dybere integration af instant messaging i KDE
Comment[es]=Módulo que provee de integración más profunda de la mensajería instantánea con KDE.
Comment[hu]=A KDE és az azonnali üzenetküldés mélyebb integrációját biztosító modul.
Comment[it]=Modulo che fornisce una maggiore integrazione di messaggistica istantanea in KDE.
Comment[nl]=Deze module biedt een diepere integratie van Instant Messaging met KDE.
Comment[pl]=Moduł zapewniający głębszą integrację komunikatora internetowego z KDE.
Comment[pt]=Um módulo que fornece maior integração com as Mensagens Instantâneas no KDE.
Comment[pt_BR]=Módulo que fornece uma maior integração com as mensagens instantâneas no KDE.
Comment[sv]=Modul som tillhandahåller bättre integrering av direktmeddelanden med KDE.
Comment[uk]=Модуль, який надає глибші можливості з інтеграції зі службами спілкування у KDE.
Comment[x-test]=xxModule providing deeper integration of Instant Messaging with KDE.xx
Comment[zh_TW]=提供即時訊息與 KDE 深度整合的模組
