[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=kded_ktp_integration_module
X-KDE-DBus-ModuleName=ktp_integration_module
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true
Name=Telepathy Integration Module
Name[ast]=Módulu d'integración de Telepathy
Name[bs]=Telepathy Integracijski modul
Name[ca]=Mòdul d'integració del Telepathy
Name[ca@valencia]=Mòdul d'integració del Telepathy
Name[cs]=Integrační modul Telepathy
Name[da]=Modul til Telepathy-integration
Name[de]=Telepathy-Integrationsmodul
Name[el]=Άρθρωμα ολοκλήρωσης telepathy
Name[en_GB]=Telepathy Integration Module
Name[es]=Módulo de integración con Telepathy
Name[et]=Telepathy lõimimismoodul
Name[fi]=Telepathy-integrointimoduuli
Name[fr]=Module d'intégration Telepathy
Name[ga]=Modúl Comhtháthaithe Telepathy
Name[gl]=Módulo de integración do Telepathy
Name[hu]=Telepathy integrációs modul
Name[ia]=Modulo de integration de Telepathy
Name[it]=Modulo di integrazione con Telepathy
Name[kk]=Telepathy бірлестіру модулі
Name[km]=ម៉ូឌុល​ការ​បញ្ចូល Telepathy
Name[ko]=Telepathy 통합 모듈
Name[lt]=Telepathy integravimo modulis
Name[mr]=टेलिपथी एकीकरण विभाग
Name[nb]=Integreringsmodul for Telepathy
Name[nds]=Telepathy-Integreermoduul
Name[nl]=Integratiemodule van Telepathy
Name[nn]=Telepathy integreringsmodul
Name[pa]=ਟੈਲੀਪੈਥੀ ਜੋੜਕ ਮੋਡੀਊਲ
Name[pl]=Moduł integracji Telepathy
Name[pt]=Módulo de Integração do Telepathy
Name[pt_BR]=Módulo de integração do Telepathy
Name[ro]=Modul de integrare Telepathy
Name[ru]=Модуль интеграции Telepathy
Name[sk]=Integračný modul Telepathy
Name[sl]=Vgradni modul Telepathy
Name[sr]=Интеграциони модул Телепатије
Name[sr@ijekavian]=Интеграциони модул Телепатије
Name[sr@ijekavianlatin]=Integracioni modul Telepathyja
Name[sr@latin]=Integracioni modul Telepathyja
Name[sv]=Integreringsmodul för Telepathy
Name[tr]=Telepathy Bütünleştirme Modülü
Name[uk]=Модуль інтеграції з Telepathy
Name[wa]=Module d' integråcion di Telepathy
Name[x-test]=xxTelepathy Integration Modulexx
Name[zh_CN]=Telepathy 集成模块
Name[zh_TW]=Telepathy 整合模組
Comment=Module providing deeper integration of Instant Messaging with KDE.
Comment[ast]=Módulu que forne una integración más fonda de la mensaxería nel intre con KDE.
Comment[bs]=Modul koji daje dublju integraciju instant poruka s KDE.
Comment[ca]=Mòdul que proporciona una integració més gran de la missatgeria instantània amb el KDE.
Comment[ca@valencia]=Mòdul que proporciona una integració més gran de la missatgeria instantània amb el KDE.
Comment[cs]=Modul poskytující hlubší integraci komunikátoru s KDE.
Comment[da]=Modul som giver dybere integration af instant messaging i KDE
Comment[de]=Modul, das eine tiefergehende Integration von Instant Messaging in KDE bietet.
Comment[el]=Άρθρωμα που παρέχει πληρέστερη ολοκλήρωση εφαρμογών στιγμιαίων μηνυμάτων με το KDE.
Comment[en_GB]=Module providing deeper integration of Instant Messaging with KDE.
Comment[es]=Módulo que provee de integración más profunda de la mensajería instantánea con KDE.
Comment[et]=Moodul kiirsuhtluse tihedamaks lõimimiseks KDE-ga.
Comment[fi]=KDE:lle kiinteämmän integroinnin pikaviestintään tarjoava moduuli
Comment[fr]=Module fournissant une intégration approfondie de la messagerie instantanée avec KDE.
Comment[ga]=Modúl a dhéanann comhtháthú níos doimhne de Theachtaireachtaí Meandaracha in KDE.
Comment[gl]=Módulo que fornece maior integración da mensaxería instantánea co KDE.
Comment[hu]=A KDE és az azonnali üzenetküldés mélyebb integrációját biztosító modul.
Comment[ia]=Modulo que forni un integration plus profunde de Messagerie Instantanee con KDE.
Comment[it]=Modulo che fornisce una maggiore integrazione di messaggistica istantanea in KDE.
Comment[kk]=Лезде хабарласуды KDE құрамына терең енгізу модулі.
Comment[km]=ម៉ូឌុល​ផ្ដល់​ការ​បញ្ចូល​ជ្រៅ​របស់​ការ​ផ្ញើ​សារ​បន្ទាន់​ជាមួយ KDE ។
Comment[ko]=KDE에 인스턴트 메시지를 통합하기 위한 모듈입니다.
Comment[lt]=Modulis teikiantis gilesnę Pokalbių integraciją su KDE.
Comment[nb]=Modul som gir dypere integrering av lynmelding med KDE.
Comment[nds]=Moduul, dat en wiedergahn Integreren vun Kortnarichten na KDE praatstellt
Comment[nl]=Deze module biedt een diepere integratie van Instant Messaging met KDE.
Comment[nn]=Module som gjev djupare integrering av lynmeldingar i KDE.
Comment[pa]=ਮੋਡੀਊਲ ਤੁਰੰਤ ਸੁਨੇਹੇਦਾਰ ਨੂੰ KDE ਨਾਲ ਡੂੰਘੇ ਰੂਪ ਵਿੱਚ ਜੋੜਦਾ ਹੈ।
Comment[pl]=Zapewnia głębszą integrację komunikatora internetowego z KDE.
Comment[pt]=Um módulo que fornece maior integração com as Mensagens Instantâneas no KDE.
Comment[pt_BR]=Módulo que proporciona maior integração com as mensagens instantâneas no KDE.
Comment[ro]=Modul ce furnizează integrare mai profundă între mesageria instantanee și KDE.
Comment[ru]=Предоставляет интеграцию системы обмена сообщениями в KDE.
Comment[sk]=Modul poskytujúci hlbšiu integráciu instant messagingu s KDE.
Comment[sl]=Modul, ki ponuja globoko vgradnjo hipnega sporočanja v KDE.
Comment[sr]=Пружа већу интеграцију брзог гласништва у КДЕ.
Comment[sr@ijekavian]=Пружа већу интеграцију брзог гласништва у КДЕ.
Comment[sr@ijekavianlatin]=Pruža veću integraciju brzog glasništva u KDE.
Comment[sr@latin]=Pruža veću integraciju brzog glasništva u KDE.
Comment[sv]=Modul som tillhandahåller bättre integrering av direktmeddelanden med KDE.
Comment[tr]=KDE'li Anında Mesajlaşmanın daha derin bütünleştirilmesini sağlayan modül
Comment[uk]=Модуль, який надає глибші можливості з інтеграції зі службами спілкування у KDE.
Comment[wa]=Module dinant ene pus parfonde integråcion del Messaedjreye sol moumint dins KDE.
Comment[x-test]=xxModule providing deeper integration of Instant Messaging with KDE.xx
Comment[zh_CN]=提供与 KDE 高度集成的即时通讯的模块
Comment[zh_TW]=提供即時訊息與 KDE 深度整合的模組
