[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=telepathy_module
X-KDE-DBus-ModuleName=telepathy_module
X-KDE-Kded-autoload=true
X-KDE-Kded-phase=2
X-KDE-Kded-load-on-demand=false
Name=Telepathy Integration Module
Name[hu]=Telepathy integrációs modul
Name[it]=Modulo di integrazione con Telepathy
Name[pt]=Módulo de Integração do Telepathy
Name[pt_BR]=Módulo de integração do Telepathy
Name[sv]=Integreringsmodul för Telepathy
Name[uk]=Модуль інтеграції з Telepathy
Name[x-test]=xxTelepathy Integration Modulexx
Comment=Module providing deeper integration of Instant Messaging with KDE.
Comment[hu]=A KDE és az azonnali üzenetküldés mélyebb integrációját biztosító modul.
Comment[it]=Modulo che fornisce una maggiore integrazione di messaggistica istantanea in KDE.
Comment[pt]=Um módulo que fornece maior integração com as Mensagens Instantâneas no KDE.
Comment[pt_BR]=Módulo que fornece uma maior integração com as mensagens instantâneas no KDE.
Comment[sv]=Modul som tillhandahåller bättre integrering av direktmeddelanden med KDE.
Comment[uk]=Модуль, який надає глибші можливості з інтеграції зі службами спілкування у KDE.
Comment[x-test]=xxModule providing deeper integration of Instant Messaging with KDE.xx
