[Desktop Entry]
Icon=preferences-other
StartupNotify=true
Terminal=false
Type=Service
X-KDE-ServiceTypes=KCModule
X-DBUS-StartupType=
X-KDE-HasReadOnlyMode=false
X-KDE-Library=kcm_ktp_integration_module
X-KDE-ParentApp=kcontrol
X-KDE-SubstituteUID=false
X-KDE-RootOnly=false
X-KDE-System-Settings-Parent-Category=im-and-voip
Categories=Qt;KDE;X-KDE-settings-network;

Name=General
Name[ca]=General
Name[cs]=Obecné
Name[da]=Generelt
Name[de]=Allgemein
Name[el]=Γενικά
Name[es]=General
Name[et]=Üldine
Name[fi]=Yleistä
Name[fr]=Général
Name[ga]=Ginearálta
Name[gl]=Xeral
Name[hu]=Általános
Name[it]=Generali
Name[km]=ទូទៅ
Name[lt]=Bendrai
Name[nb]=Generelt
Name[nds]=Allmeen
Name[nl]=Algemeen
Name[pl]=Ogólne
Name[pt]=Geral
Name[pt_BR]=Geral
Name[ro]=General
Name[ru]=Основное
Name[sk]=Všeobecné
Name[sr]=Опште
Name[sr@ijekavian]=Опште
Name[sr@ijekavianlatin]=Opšte
Name[sr@latin]=Opšte
Name[sv]=Allmänt
Name[uk]=Загальне
Name[x-test]=xxGeneralxx
Name[zh_CN]=常规
Name[zh_TW]=一般的
Comment=General settings for Instant Messaging and VoIP
Comment[ca]=Arranjament general per la missatgeria instantània i VoIP
Comment[cs]=Obecná nastavení pro IM a VOIP
Comment[da]=Generelle indstillinger for instant messaging og VoIP
Comment[de]=Allgemeine Einstellungen für Instant Messaging und VoIP
Comment[el]=Γενικές ρυθμίσεις για στιγμιαία μηνύματα και VoIP
Comment[es]=Preferencias generales para mensajería instantánea y VoIP
Comment[et]=Kiirsuhtluse ja VoIP üldised seadistused
Comment[fi]=Pikaviestinnän ja VoIPin yleisasetukset
Comment[fr]=Paramètres généraux de messagerie instantanée et de VoIP
Comment[ga]=Socruithe ginearálta le haghaidh Teachtaireachtaí Meandaracha agus VoIP
Comment[gl]=Opcións xerais da mensaxaría instantánea e a voz por internet
Comment[hu]=Az azonnali üzenetküldés és VoIP általános beállításai
Comment[it]=Impostazioni generali per messaggistica e VoIP
Comment[km]=ការ​កំណត់​ទូទៅ​សម្រាប់​ការ​ផ្ញើ​សារ​បន្ទាន់ និង VoIP
Comment[lt]=Bendri Pokalbių ir VoIP nustatymai
Comment[nb]=Generelle instillinger for lynmeldinger og VoIP
Comment[nl]=Algemene instellingen voor Instant Messaging en VoIP
Comment[pl]=Ogólne ustawienia dla komunikatora internetowego i VoIP
Comment[pt]=Configuração geral das Mensagens Instantâneas e VoIP
Comment[pt_BR]=Configurações gerais de mensagens instantâneas e VoIP
Comment[ro]=Configurări generale pentru mesageria instantanee și VoIP
Comment[ru]=Основные параметры системы мгновенных сообщений и VoIP
Comment[sk]=Všeobecné nastavenia pre Instant Messaging a VoIP
Comment[sr]=Опште поставке брзог гласништва и ВоИП‑а
Comment[sr@ijekavian]=Опште поставке брзог гласништва и ВоИП‑а
Comment[sr@ijekavianlatin]=Opšte postavke brzog glasništva i VoIP‑a
Comment[sr@latin]=Opšte postavke brzog glasništva i VoIP‑a
Comment[sv]=Allmänna inställningar för direktmeddelanden och Internettelefon
Comment[uk]=Загальні параметри мереж спілкування та голосового інтернет-зв’язку
Comment[x-test]=xxGeneral settings for Instant Messaging and VoIPxx
Comment[zh_CN]=即时通讯和 IP 电话的常规设置
Comment[zh_TW]=即時訊息與 VoIP 的一般設定
